.quote-section {
  background-image: url("../images/windows.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.shade-screen2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(0,0,0, 0.6);
  height: 100%;
  width: 100%;
}

.quote-section h1 {
  color: #fff;
}

.quote-container {
  padding: 80px 40px 80px 40px;
}

.quote-box {
  background: #fff;
  height: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0px;
  border-bottom: 15px solid #45DFF1;
}

.quote-box h2 {
  margin: 0px;
  font-size: 60px;
}
